@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #F8FAFC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}
